#Useless Folders
.c9/
node_modules/
dist-server/
coverage/
.idea/

# DB Folder
data/

# scripts
mongod
apidoc.json


#client
src/client/ios/build/
src/client/ios/DerivedData/
src/client/android/build/
src/client/android/app/build/
src/client/.idea/
src/client/node_modules/